workflows/[Dev] Airtable to OpenAI to Airtable (Cross Default).json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - GPT-3.5": {
      "main": [
        [
          {
            "node": "Merge - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - GPT-4": {
      "main": [
        [
          {
            "node": "Merge - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Draft Prompt": {
      "main": [
        [
          {
            "node": "OpenAI - GPT-3.5",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - GPT-4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - GPT-4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge - GPT-3.5",
            "type": "main",
            "index": 1
          },
          {
            "node": "GPT-Tokenizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - GPT-3.5": {
      "main": [
        [
          {
            "node": "Set - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - GPT-3.5": {
      "main": [
        [
          {
            "node": "Airtable - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - GPT-4": {
      "main": [
        [
          {
            "node": "Set - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - GPT-4": {
      "main": [
        [
          {
            "node": "Airtable - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-Tokenizer": {
      "main": [
        [
          {
            "node": "Set - Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Set - Draft Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Tokens": {
      "main": [
        [
          {
            "node": "Airtable - Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-04T15:30:48.002Z",
  "id": "p2kLoCKpX7vcxVYl",
  "name": "[Dev] Airtable to OpenAI to Airtable (Cross Default)",
  "nodes": [
    {
      "parameters": {},
      "id": "c1c2f130-3d8a-4648-830c-23eba9b541f8",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        580
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-0613",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "dfecb473-0508-4041-bb30-ce7baa53b4eb",
      "name": "OpenAI - GPT-4",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "j5vdhSbBHJIsVcNw",
          "name": "[CM] [$] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-3.5-turbo-0613",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are a highly skilled AI with a specialty in distilling information from legal agreements into key points. This information will be stored in a database so you will limit your responses to the answer itself (i.e., no introductory or explanatory text in addition to the answer). You will be provided with a provision from a publicly filed convertible bond indenture. Your task is to help the knowledge management team at a large international law firm extract the dollar amount cross-default threshold (and only the dollar amount) to populate their knowledge management database. Here's an example:  Q: What is the dollar amount cross-default threshold in the following reference text: \"(g) default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $55,000,000 (or its foreign currency equivalent) in the aggregate of the Company and/or any such Significant Subsidiary, whether such indebtedness now exists or shall hereafter be created (i) resulting in such indebtedness becoming or being declared due and payable prior to its stated maturity date or (ii) constituting a failure to pay the principal of any such debt when due and payable (after the expiration of all applicable grace periods) at its stated maturity, upon required repurchase, upon declaration of acceleration or otherwise, and in the cases of clauses (i) and (ii), such acceleration shall not have been rescinded or annulled, such failure to pay or default shall not have been cured or waived, or such indebtedness shall not have been paid or discharged, as the case may be, within 30 days after written notice to the Company by the Trustee or to the Company and the Trustee by Holders of at least 25% in aggregate principal amount of Notes then outstanding in accordance with this Indenture;\" A: $55,000,000"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "afb58ba2-5f61-4208-983e-b9a655203efa",
      "name": "OpenAI - GPT-3.5",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "j5vdhSbBHJIsVcNw",
          "name": "[CM] [$] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt",
              "value": "=Complete the following\nQ: Reference text: default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $55,000,000 (or its foreign currency equivalent) \nA: $55,000,000\nQ: Reference text: default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $60 million (or its foreign currency equivalent) \nA: $60,000,000\nQ: Reference text: default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $100,000,000.00 (or its foreign currency equivalent) \nA: $100,000,000\nQ: Reference text: default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of US$25,000,000 (or the foreign currency equivalent thereof)\nA: $25,000,000\nQ: Reference text: \"{{ $json.cd_kira }}\"\nA: "
            }
          ]
        },
        "options": {}
      },
      "id": "c1794d54-d68d-4ea5-8166-ded723575e51",
      "name": "Set - Draft Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "692f53dc-b6e3-44fe-a5ba-fb6295963768",
      "name": "Merge - GPT-3.5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt_35_2(0temp)r",
              "value": "=You are a highly skilled AI with a specialty in distilling information from legal agreements into key points. This information will be stored in a database so you will limit your responses to the answer itself (i.e., no introductory or explanatory text in addition to the answer). You will be provided with a provision from a publicly filed convertible bond indenture. Your task is to help the knowledge management team at a large international law firm extract the dollar amount cross-default threshold (and only the dollar amount) to populate their knowledge management database. Here's an example:  Q: What is the dollar amount cross-default threshold in the following reference text: \"(g) default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $55,000,000 (or its foreign currency equivalent) in the aggregate of the Company and/or any such Significant Subsidiary, whether such indebtedness now exists or shall hereafter be created (i) resulting in such indebtedness becoming or being declared due and payable prior to its stated maturity date or (ii) constituting a failure to pay the principal of any such debt when due and payable (after the expiration of all applicable grace periods) at its stated maturity, upon required repurchase, upon declaration of acceleration or otherwise, and in the cases of clauses (i) and (ii), such acceleration shall not have been rescinded or annulled, such failure to pay or default shall not have been cured or waived, or such indebtedness shall not have been paid or discharged, as the case may be, within 30 days after written notice to the Company by the Trustee or to the Company and the Trustee by Holders of at least 25% in aggregate principal amount of Notes then outstanding in accordance with this Indenture;\" A: $55,000,000\n{{ $json.prompt }}"
            },
            {
              "name": "cd_35_2(0temp)r",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d334e0-97c5-4c93-866e-217c1eb6004b",
      "name": "Set - GPT-3.5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        860,
        460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7a8b4fe0-5a26-4d0f-b2d1-67df9a3be3f1",
      "name": "Merge - GPT-4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        660,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt_4_4Shot",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "cd_4_4Shot",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "237c43a0-bd88-4632-8029-8bcbfbe62ca4",
      "name": "Set - GPT-4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        860,
        660
      ]
    },
    {
      "parameters": {
        "operation": "countTokens",
        "inputString": "=You are a highly skilled AI with a specialty in distilling information from legal agreements into key points. This information will be stored in a database so you will limit your responses to the answer itself (i.e., no introductory or explanatory text in addition to the answer). You will be provided with a provision from a publicly filed convertible bond indenture. Your task is to help the knowledge management team at a large international law firm extract the dollar amount cross-default threshold (and only the dollar amount) to populate their knowledge management database. Here's an example:  Q: What is the dollar amount cross-default threshold in the following reference text: \"(g) default by the Company or any Significant Subsidiary of the Company with respect to any mortgage, agreement or other instrument under which there may be outstanding, or by which there may be secured or evidenced, any indebtedness for money borrowed in excess of $55,000,000 (or its foreign currency equivalent) in the aggregate of the Company and/or any such Significant Subsidiary, whether such indebtedness now exists or shall hereafter be created (i) resulting in such indebtedness becoming or being declared due and payable prior to its stated maturity date or (ii) constituting a failure to pay the principal of any such debt when due and payable (after the expiration of all applicable grace periods) at its stated maturity, upon required repurchase, upon declaration of acceleration or otherwise, and in the cases of clauses (i) and (ii), such acceleration shall not have been rescinded or annulled, such failure to pay or default shall not have been cured or waived, or such indebtedness shall not have been paid or discharged, as the case may be, within 30 days after written notice to the Company by the Trustee or to the Company and the Trustee by Holders of at least 25% in aggregate principal amount of Notes then outstanding in accordance with this Indenture;\" A: $55,000,000\n{{ $json.prompt }}",
        "destinationKey": "input_token_count"
      },
      "id": "03bdabe5-b4a2-4a52-ab80-df115af7799d",
      "name": "GPT-Tokenizer",
      "type": "CUSTOM.gptTokenizer",
      "typeVersion": 1,
      "position": [
        460,
        860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appDcoagAhFsRorx3",
          "mode": "list",
          "cachedResultName": "LLM Test (August 2023) - GPT3.5 and GPT4 - Prompts v.1",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3"
        },
        "table": {
          "__rl": true,
          "value": "tblplAUlOtauemrks",
          "mode": "list",
          "cachedResultName": "Cross Default",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3/tblplAUlOtauemrks"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "cd_file_name",
              "displayName": "cd_file_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_issuer",
              "displayName": "cd_issuer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_kira",
              "displayName": "cd_kira",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_human",
              "displayName": "cd_human",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35",
              "displayName": "cd_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_1",
              "displayName": "cd_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2",
              "displayName": "cd_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2r",
              "displayName": "cd_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4",
              "displayName": "cd_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_1",
              "displayName": "cd_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2",
              "displayName": "cd_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2r",
              "displayName": "cd_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35",
              "displayName": "prompt_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_1",
              "displayName": "prompt_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2",
              "displayName": "prompt_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2r",
              "displayName": "prompt_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_cost",
              "displayName": "prompt_35_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_1",
              "displayName": "prompt_35_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2",
              "displayName": "prompt_35_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2r",
              "displayName": "prompt_35_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4",
              "displayName": "prompt_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_1",
              "displayName": "prompt_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2",
              "displayName": "prompt_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2r",
              "displayName": "prompt_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_cost",
              "displayName": "prompt_4_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_1",
              "displayName": "prompt_4_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2",
              "displayName": "prompt_4_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2r",
              "displayName": "prompt_4_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "input_token_count",
              "displayName": "input_token_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_1",
              "displayName": "input_token_count_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2",
              "displayName": "input_token_count_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2r",
              "displayName": "input_token_count_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "d0937bde-dd04-4285-a86a-7d5a3029fefa",
      "name": "Airtable - GPT-3.5",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appDcoagAhFsRorx3",
          "mode": "list",
          "cachedResultName": "LLM Test (August 2023) - GPT3.5 and GPT4 - Prompts v.1",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3"
        },
        "table": {
          "__rl": true,
          "value": "tblplAUlOtauemrks",
          "mode": "list",
          "cachedResultName": "Cross Default",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3/tblplAUlOtauemrks"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "cd_file_name",
              "displayName": "cd_file_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_issuer",
              "displayName": "cd_issuer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_kira",
              "displayName": "cd_kira",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_human",
              "displayName": "cd_human",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35",
              "displayName": "cd_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_1",
              "displayName": "cd_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2",
              "displayName": "cd_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2r",
              "displayName": "cd_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4",
              "displayName": "cd_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_1",
              "displayName": "cd_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2",
              "displayName": "cd_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2r",
              "displayName": "cd_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35",
              "displayName": "prompt_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_1",
              "displayName": "prompt_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2",
              "displayName": "prompt_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2r",
              "displayName": "prompt_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_cost",
              "displayName": "prompt_35_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_1",
              "displayName": "prompt_35_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2",
              "displayName": "prompt_35_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2r",
              "displayName": "prompt_35_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4",
              "displayName": "prompt_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_1",
              "displayName": "prompt_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2",
              "displayName": "prompt_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2r",
              "displayName": "prompt_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_cost",
              "displayName": "prompt_4_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_1",
              "displayName": "prompt_4_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2",
              "displayName": "prompt_4_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2r",
              "displayName": "prompt_4_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "input_token_count",
              "displayName": "input_token_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_1",
              "displayName": "input_token_count_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2",
              "displayName": "input_token_count_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2r",
              "displayName": "input_token_count_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "94e7c810-5db9-421f-af44-335b2926f481",
      "name": "Airtable - GPT-4",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1060,
        660
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appDcoagAhFsRorx3",
          "mode": "list",
          "cachedResultName": "LLM Test (August 2023) - GPT3.5 and GPT4 - Prompts v.1",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3"
        },
        "table": {
          "__rl": true,
          "value": "tblplAUlOtauemrks",
          "mode": "list",
          "cachedResultName": "Cross Default",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3/tblplAUlOtauemrks"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "cd_file_name",
              "displayName": "cd_file_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_issuer",
              "displayName": "cd_issuer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_kira",
              "displayName": "cd_kira",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_human",
              "displayName": "cd_human",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35",
              "displayName": "cd_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_1",
              "displayName": "cd_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2",
              "displayName": "cd_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_35_2r",
              "displayName": "cd_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4",
              "displayName": "cd_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_1",
              "displayName": "cd_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2",
              "displayName": "cd_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cd_4_2r",
              "displayName": "cd_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35",
              "displayName": "prompt_35",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_1",
              "displayName": "prompt_35_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2",
              "displayName": "prompt_35_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_2r",
              "displayName": "prompt_35_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_35_cost",
              "displayName": "prompt_35_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_1",
              "displayName": "prompt_35_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2",
              "displayName": "prompt_35_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_35_cost_2r",
              "displayName": "prompt_35_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4",
              "displayName": "prompt_4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_1",
              "displayName": "prompt_4_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2",
              "displayName": "prompt_4_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_2r",
              "displayName": "prompt_4_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt_4_cost",
              "displayName": "prompt_4_cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_1",
              "displayName": "prompt_4_cost_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2",
              "displayName": "prompt_4_cost_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "prompt_4_cost_2r",
              "displayName": "prompt_4_cost_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "input_token_count",
              "displayName": "input_token_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_1",
              "displayName": "input_token_count_1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2",
              "displayName": "input_token_count_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "input_token_count_2r",
              "displayName": "input_token_count_2r",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "332903e1-1b8d-4255-a2d2-8f54d54c7f8a",
      "name": "Airtable - Tokens",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        860,
        860
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDcoagAhFsRorx3",
          "mode": "list",
          "cachedResultName": "LLM Test (August 2023) - GPT3.5 and GPT4 - Prompts v.1",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3"
        },
        "table": {
          "__rl": true,
          "value": "tblplAUlOtauemrks",
          "mode": "list",
          "cachedResultName": "Cross Default",
          "cachedResultUrl": "https://airtable.com/appDcoagAhFsRorx3/tblplAUlOtauemrks"
        },
        "options": {
          "fields": [
            "cd_kira"
          ]
        }
      },
      "id": "d0c5eb33-736e-41c8-9edd-a41403bcb157",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        60,
        580
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "input_token_count_2r",
              "value": "={{ $json.input_token_count }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b58a4d8b-fd86-4d87-b3ff-c36211a362b9",
      "name": "Set - Tokens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        860
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-09-12T19:14:09.067Z",
  "versionId": "3552edfa-298d-46a8-ae57-42fdf1c686bb"
}