workflows/[Dev] OpenAI to Google Sheets (Time Entry Task Codes).json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - GPT-3.5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Set - Draft Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Draft Prompt": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set - GPT-3.5": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "OpenAI - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-28T20:09:38.708Z",
  "id": "KDPlZnDoGpnQ9qQS",
  "name": "[Dev] OpenAI to Google Sheets (Time Entry Task Codes)",
  "nodes": [
    {
      "parameters": {},
      "id": "cdf51c56-220d-469c-8a85-adecdd65fe94",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        460
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "simplifyOutput": false,
        "options": {}
      },
      "id": "86d51d62-168b-41e7-a2a1-88677ca04c02",
      "name": "OpenAI - GPT-3.5",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        780,
        260
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "j5vdhSbBHJIsVcNw",
          "name": "[CM] [$] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "tc_gpt35",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "row_number",
              "value": "={{ $json.row_number }}"
            },
            {
              "name": "prompt_tokens",
              "value": "={{ $json.usage.prompt_tokens }}"
            },
            {
              "name": "completion_tokens",
              "value": "={{ $json.usage.completion_tokens }}"
            }
          ]
        },
        "options": {}
      },
      "id": "21bcac3d-5070-43fa-80c5-6c7ad44b00b5",
      "name": "Set - GPT-3.5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        780,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk",
          "mode": "list",
          "cachedResultName": "Sept 13 - Task Code",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk/edit#gid=0"
        },
        "options": {}
      },
      "id": "64780bae-9487-4ef7-9b73-fe5d4a0e6aad",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        180,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lMnR0Oj2mNgH09Mh",
          "name": "[CM] Google Sheets (mar.fm)"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "row_number",
              "value": "={{ $json.row_number }}"
            },
            {
              "name": "prompt",
              "value": "=You are a highly skilled AI with a specialty in categorizing timekeepers' time entries according to a law firm's standards. You will be given time entries from recent M&A transactions. You are tasked with determining which of nine task codes applies to each given time entry. Here is a list of task codes, with guidelines in parentheticals:\n\n1. Preliminary deal process (Time spent conducting preliminary deal process work, such as negotiating NDAs, setting up a data room, drafting bid letters, financial advisor engagement letters, etc.)\n2. Deal structuring and strategy (Time spent developing the structure and process for the transaction, including setting up newcos, analyzing tax issues and advising the board (e.g. drafting/reviewing banker books, fairness opinions and board minutes).)\n3. Due diligence (Time spent conducting due diligence, regardless of the subject matter.)\n4. Primary transaction documentation/definitive agreements (Time spent drafting, reviewing and negotiating definitive sale documentation, including the purchase agreement (and related auction drafts or term sheets), management warranty deed and disclosure letters/schedules.)\n5. Equity documentation (Time spent on any type of management equity plan, including option plans.  It also includes work related to any shareholder arrangements and any coinvestment(s).)\n6. Ancillary agreements (Time spent drafting, reviewing and negotiating all ancillary documentation, such as carve-out documents and TSAs.)\n7. Deal management (This code should be used judiciously.  Time should be allocated to other task codes where possible.  For example, when coordinating with local counsel, time should be billed to the underlying issue (Due Diligence, Closing, etc.), instead of this task code.  Correspondence should also be billed to the underlying task code, and not this code.)\n8. Regulatory issues (Should only be used for unique, deal-specific regulatory issues, such as telecom, pharma, etc., deals.  Standard regulatory work should be billed to the appropriate task code (Due Diligence, Primary Transaction Documentation, etc.).  Check with your supervisor prior to billing time to this code.)\n9. Closing (Time spent on the closing and immediate post-closing process, including closing documents (not captured by Definitive or Ancillary Agreements), signature pages, funds flow and standard filings.)\n\nThe above task codes are provided in the order they usually occur throughout a transaction. The current transaction commenced on February 15, 2022, and ended on April 8, 2022.\n\nHere's an example, please note that the only value you should return is the task code, with no explanatory or other text. If you can't determine the proper task code, please reply \"[Unknown]\". Categorize the following:\n\nTime entry: \"0.3 hours: Attend to email correspondence; review revised purchase agreement and comments thereto (March 16, 2022)\"\nTask code: Primary transaction documentation/definitive agreements\n\nNow please categorize the following:\n\nTime entry: \"{{ $json[\"TCWorkHrs\"] }} hours: {{ $json[\"TCNarrative\"] }} ({{ $json[\"TCWorkDate\"] }})\"\nTask code: \n"
            }
          ]
        },
        "options": {}
      },
      "id": "9fab9b23-b5dd-4927-9fa1-d4e3280082f3",
      "name": "Set - Draft Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        380,
        460
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk",
          "mode": "list",
          "cachedResultName": "Sept 13 - Task Code",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fcov_H6Pf2iEWdtJUO5VwK_E1CtXCyRmFIGqx42ErXk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TCWorkDate",
              "displayName": "TCWorkDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TCTaskName (Human)",
              "displayName": "TCTaskName (Human)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tc_gpt35",
              "displayName": "tc_gpt35",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TCNarrative",
              "displayName": "TCNarrative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TCWAttyLWTitleGrpName",
              "displayName": "TCWAttyLWTitleGrpName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TCWorkHrs",
              "displayName": "TCWorkHrs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b5655ace-0d70-4825-8fee-d6f2ca3bc0e0",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lMnR0Oj2mNgH09Mh",
          "name": "[CM] Google Sheets (mar.fm)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27b227a8-061e-4076-ab67-1ced55420079",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        580,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "78195869-8bf9-439a-9ed3-7630dcb0ac38",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        580,
        460
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "32308bc6-bdc2-4a66-94f8-81ad15d401ed",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        960,
        260
      ],
      "webhookId": "e764ba80-5ce7-41ac-9993-38a0a0fc50a1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-09-13T23:46:34.440Z",
  "versionId": "0ac28d93-a61a-4865-8388-9344738b7018"
}