workflows/[Dev] Airtable to OpenAI to Airtable (Coupon Rate).json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Airtable - Get Kira Extractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable - Get Kira Extractions": {
      "main": [
        [
          {
            "node": "Set - Draft Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - GPT-3.5": {
      "main": [
        [
          {
            "node": "Merge - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - GPT-4": {
      "main": [
        [
          {
            "node": "Merge - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Draft Prompt": {
      "main": [
        [
          {
            "node": "OpenAI - GPT-3.5",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - GPT-4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge - GPT-4",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge - GPT-3.5",
            "type": "main",
            "index": 1
          },
          {
            "node": "GPT-Tokenizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - GPT-3.5": {
      "main": [
        [
          {
            "node": "Set - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - GPT-3.5": {
      "main": [
        [
          {
            "node": "Airtable - GPT-3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - GPT-4": {
      "main": [
        [
          {
            "node": "Set - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - GPT-4": {
      "main": [
        [
          {
            "node": "Airtable - GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-Tokenizer": {
      "main": [
        [
          {
            "node": "Airtable - Input Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-04T13:28:49.229Z",
  "id": "LYUgMHAqjVSAwAsg",
  "meta": null,
  "name": "[Dev] Airtable to OpenAI to Airtable (Coupon Rate)",
  "nodes": [
    {
      "parameters": {},
      "id": "2fc60860-c83e-4aee-a94f-c352585e2b78",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -180,
        580
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "list",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "additionalOptions": {
          "fields": [
            "Coupon Rate (Kira)"
          ]
        }
      },
      "id": "97a8f0c1-aeab-45cf-8cfe-ebfbb1212df2",
      "name": "Airtable - Get Kira Extractions",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        40,
        580
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-0613",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "c8a5747d-9a70-4e36-b65f-3d47fb4beb62",
      "name": "OpenAI - GPT-4",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "j5vdhSbBHJIsVcNw",
          "name": "[CM] [$] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-3.5-turbo-0613",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "cee6fa2c-e48e-4d99-933b-e5dfa95baba5",
      "name": "OpenAI - GPT-3.5",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "j5vdhSbBHJIsVcNw",
          "name": "[CM] [$] OpenAI"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt",
              "value": "=You are a highly skilled AI with a specialty in distilling information from legal agreements into key points. This information will be stored in a database so you will limit your responses to the answer itself (i.e., no introductory or explanatory text in addition to the answer). You will be provided with a provision from a publicly filed convertible bond indenture. Your task is to help the knowledge management team at a large international law firm extract the interest rate (and only the interest rate) to populate their knowledge management database. Here's an example:|Q:  What is the interest rate in the following reference text: This Note shall bear cash interest at the rate of 3.50% per year from March 17, 2021, or from the most recent date to which interest had been paid or provided for to, but excluding, the next scheduled Interest Payment Date until April 15, 2026.A: 3.50%\n\nQ. What is the interest rate in the following reference text: \"{{ $json.fields['Coupon Rate (Kira)'] }}\"\nA: "
            }
          ]
        },
        "options": {}
      },
      "id": "951aa81c-6fad-4df5-9f8f-9cf5b7b6e3c3",
      "name": "Set - Draft Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        240,
        580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8c66755b-7aa5-4c42-84f2-8f373158cdef",
      "name": "Merge - GPT-3.5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt_35_2(0temp)r",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "rate_35_2(0temp)r",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "432896f3-f61a-4311-8c5e-3bcf996685fd",
      "name": "Set - GPT-3.5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        460
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "id": "c81873d2-ee39-438c-b410-c18c4663781e",
      "name": "Airtable - GPT-3.5",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "3105bef8-bca9-43c4-bf2b-1e9d3fad1100",
      "name": "Merge - GPT-4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        680,
        680
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "prompt_4_2(0temp)r",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "rate_4_2(0temp)r",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e95605b-1228-485d-8562-f3633398ad4f",
      "name": "Set - GPT-4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        680
      ]
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "id": "950027e6-8194-4d5f-9081-424ad8fb5b76",
      "name": "Airtable - GPT-4",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        680
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableTokenApi",
        "operation": "update",
        "application": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/([a-zA-Z0-9]{2,})"
        },
        "table": {
          "__rl": true,
          "value": "https://airtable.com/appDcoagAhFsRorx3/tblYgwyzbPH7sP4T7/viw4krpkVpaI5xO33",
          "mode": "url",
          "__regex": "https://airtable.com/[a-zA-Z0-9]{2,}/([a-zA-Z0-9]{2,})"
        },
        "id": "={{ $json.id }}",
        "updateAllFields": false,
        "fields": [
          "input_token_count"
        ],
        "options": {}
      },
      "id": "290afe90-d5bb-4b8c-98d6-fb89b6d25308",
      "name": "Airtable - Input Tokens",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        680,
        900
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "egXVJH86cIG8cive",
          "name": "[CM] Airtable"
        }
      }
    },
    {
      "parameters": {
        "operation": "countTokens",
        "inputString": "={{ $json.prompt }}",
        "destinationKey": "input_token_count_1"
      },
      "id": "49805deb-89b7-460c-b830-f2cd1cf04a52",
      "name": "GPT-Tokenizer",
      "type": "CUSTOM.gptTokenizer",
      "typeVersion": 1,
      "position": [
        460,
        900
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-08-25T18:31:45.373Z",
  "versionId": "2e7e621b-1a06-4e07-b82c-8fe66a2dcbc8"
}