workflows/[Prod] Backup n8n to Github.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-04T14:02:06.211Z",
  "id": "5z3LjFMi507rv6Bx",
  "name": "[Prod] Backup n8n to Github",
  "nodes": [
    {
      "parameters": {},
      "id": "20d77ec1-3730-47c3-bf66-5591326c4e06",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1485,
        635
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "1d27171a-4674-4ede-aa2d-4ae737563249",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -640,
        600
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "InCrygpflURBO1XG",
          "name": "[CM] GitHub"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "1549c1a3-fb5d-4b61-85d1-6e6592c579e2",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        0,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6578d1e7-9b1b-4ddb-982d-104d7ed03829",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        240,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "6b10346e-f77a-49bd-b7e0-776dcb1bec0c",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        240,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "669f0297-0bb0-4abb-b1d3-b6ea9878e0d2",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        240,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "aab13c63-7489-434a-881d-e5deb73ac7d6",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        420,
        740
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "InCrygpflURBO1XG",
          "name": "[CM] GitHub"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "a1eda405-2fe5-4069-867f-5b04fb3fd574",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        420,
        920
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "InCrygpflURBO1XG",
          "name": "[CM] GitHub"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ac9af16d-7630-4569-a82a-0eca71accd47",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -860,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "cbmartinx"
            },
            {
              "name": "repo.name",
              "value": "n8n-emergingtech-team"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "ac7af54d-77fa-4432-bd77-ade56d9c25e4",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1300,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "db5a13a5-c9c7-4a41-bef6-a2a827baa1af",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1940,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "fa18436f-941d-464b-94e1-3cd269e177ef",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "833b428d-4db8-4954-9a58-2ca9ee75ce43",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {}
      },
      "id": "1848adde-51c1-4f53-a462-74718254a4ba",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1100,
        760
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "jDatVguHPbSX5i42",
          "name": "[LW] n8n API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "01230f93-4074-4a3f-ab73-079b54f13780",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "13116e4b-e788-4784-9868-8ff773682e12",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -420,
        740
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6
            }
          ]
        }
      },
      "id": "5e67b192-6ac3-47e9-937b-778163e24f6b",
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1485,
        895
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-04T15:25:40.771Z",
  "versionId": "8108f512-12ed-4da5-bf9c-e75697a0c68f"
}